body {
  padding-top: 3rem;
}
.container, .navbar {
  font-family: 'IBM Plex Sans', sans-serif;
}
.section {
  padding-top: 5.5rem;
}
.navbar {
  background-color: #230f38;
}
.navbar-brand, .nav-link {
  color: white;
}
.weasyl {
  background-color: #900;
  color: white;
}
.pixiv {
  background-color: #0096fa;
  color: white;
}
.derpibooru {
  background-color: #3d92d0;
  color: white;
}
.furbooru {
  background-color: #1f0940;
  color: white;
}
.mastodon {
  background-color: #3088d4;
  color: white;
}
.bluesky {
  background-color: #0085ff;
  color: white;
}
.furaffinity {
  background-color: #b08e70;
  color: white;
}
.inkbunny {
  background-color: #fce4f1;
}
.deviantart {
  background-color: #05ae40;
  color: white;
}
.e621 {
  background-color: #152f56;
  color: white;
}
.discord {
  background-color: #7289da;
  color: white;
}
.github {
  background-color: #24292f;
  color: white;
}
.gitlab {
  background-color: #e24329;
  color: white;
}
.stackexchange {
  background-color: #195398;
  color: white;
}
